/* sticky footer settings */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

/* normal settings */

.row {
    color: white;
}

body {
    background-image: radial-gradient(ellipse 100% 50%, gray 0%, black);
}


#title, #footer {
    text-align: center;
}
